extends layout

block content
  .wrapper
    - const upDog = dog.toUpperCase();
    p.hello Hello! my name is #{name.toUpperCase()}
    span#yo Yo!! my dog's name is #{upDog}

  img.dog(src="dog.jpg" alt=`Dog ${dog}`)

  h2
    | Hello
    em How are you?

  p Sale ends #{h.moment().endOf('day').fromNow()}